[run]
omit =
    */venv/*
    */.venv/*
    */test/*

[report]
exclude_lines =
    pragma: no cover
    skip_empty = true
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
